<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questions popup</title>
        <link rel="stylesheet" href="dialogbox.component.css" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap" rel="stylesheet">      
    </head>
    <body id="background">
        <div class="row">
            <div class="col">
                <div class="row"> 
                    <div>
                        <div class="container">
                        <div class="one">Air</div>
                        <div class="two">Climat</div>
                        <div class="three">Dechets</div>
                        <div class="four">Biologie</div>
                        <div class="five">Pollution</div>
                        <div class="six">Eau</div>
                        <div class="seven">Res. nat</div>
                        <div class="eight">Cat. nat</div>
                        </div>
                    </div>
                    <button style="top:-180pt; left:150pt" id="spin" >Spin</button>
                </div>
            </div>
            <div class="col" >
                <div class="row" >
                    <div id="countdown"></div>
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <p>Le compte à rebours est terminé !</p>
                        </div>
                    </div>
                    <h5 id="monDivCat"></h5>
                <p id="monDivQuest"></p>
                <button style="display: none;" id="r1" type="button"></button>
                <button style="display: none;" id="r2" type="button"></button>
                <button style="display: none;" id="r3" type="button"></button>
                <div id="endQuest" class="modal">
                    <div class="modal-content">
                        <p id="phrase"></p>
                        <button style="top:-180pt; left:150pt" id="next">Prochaine tours</button>
                    </div>
                </div>
                <div id="endPartie" class="modal">
                    <div class="modal-content">
                        <p id="phraseFin"></p>
                        <button style="top:-180pt; left:150pt" id="acc">Retour à la carte</button>
                    </div>
                </div>
                </div>
            </div>
          </div>
    </body>
</html>
