<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Popup Design - Easy Tutorials</title>
<link rel="stylesheet" href="dialogbox.component.css">
</head>
<body>
    <div class="container">
        <button type="submit" class="btn">Submit</button>
        <div class="popup">
            <img src="src/assets/aider.png">
            <h2>Air</h2>
            <h3>Combien de temps faut-il pour que le CO2 soit éliminé de l'atmosphère?</h3>
            <button type="button1">Quelques années</button>
            <button type="button2">Des décennies</button>
            <button type="button3">Des siècles</button>
        </div>
    </div>
 </body>
 </html>