<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questions popup</title>
        <link rel="stylesheet" href="dialogbox.component.css">
    </head>
    <body id="background">
        <div class="row">
            <div class="col"><p>Roulette</p></div>
            <div class="col">
                <div class="row">
                    <h3>Air</h3>
                <h5>Combien de temps faut-il pour que le CO2 soit éliminé de l'atmosphère?</h5>
                <button type="button">Quelques années</button>
                <button type="button">Des décennies</button>
                <button type="button">Des siècles</button>
                </div>
            </div>
          </div>
    </body>
</html>
