<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regles de jeu</title>
    <link rel="stylesheet" href="rules.component.css">
</head>
<body id="background">
    <div id="container">
        <h1> Voici les regles du jeu</h1>
        <p>Vous pouvez vous connecter en utilisant un surmon et un numéro de partie ou en créant une partie et distribuer le code unique à 2 amis pour jouer avec eux en temps réel.</p>
        <p>Il faut 3 personnes pour que le jeu puisse demarrer.</p>
        <p>Vous allez rémarquer plusieurs objets: Les 3 villages, les 3 personnages et un cube mystèrieux au milieu de la carte. 
            Vous pouvez faire bouger le guerrier en utilisant les touches marqués avec des flèches, mais aussi avec q s d z. 
            A tour de role chaque joueur ouvre le cube magique et tourne la roulette qu'il trouve à l'intérieur. Suite à cette action, tous les joueurs vont s'affronter pour apporter la bonne réponse à la question affiché. La premiere bonne réponse sera récompensé par 10p. 
            En fin de partie, la personne ayant le plus de points gagne.
            Bonne chance!
        </p>
    </div>
 </body>