<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regles de jeu</title>
    <link rel="stylesheet" href="rules.component.css">
</head>
<body>
    <div id="background">
    <div id="container">
        <br />
        <h1> Voici les regles du jeu</h1>
        <br />
        <p>2 joueurs sur un même ordinateur</p>
        <p>Chaque joueur introduit son nom avant de demarrer la partie.</p>
        <br />
        <p>Une fois la partie démarré, vous allez voir plusieurs éléments apparaître:</p>
        <br />

        <div class="row">
            <div class="col">
                <div class="row"> 
                    <div>
                        <p>Avatar Joueur 1 : </p>
                        <img src="assets/player1.PNG" height="170" width="100" title="j1">
                        <br />
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <br />
            </div>
            <div class="col" >
                <div class="row" >
                    <div>
                        <p>Avatar Joueur 2 : </p>
                        <img src="assets/player2.PNG" height="180" width="100" title="j2">
                        <br />
                    </div>
                </div>
            </div>
            <div class="col">
                <br />
            </div>
            <div class="col" >
                <div class="row" >
                    <div>
                        <p>5 Niveaux du jeu : </p>
                    <img src="assets/niveau.PNG" height="150" width="150" title="niveau">
                    <br />
                    </div>
                    
                </div>
            </div>
          </div>

          <br />
          <p>Pour bouger le joueur 1 utilisez les touches:</p>
          <img src="assets/pl1.PNG" height="100" width="150" title="touchesp1">
          <br />


          <p>Pour bouger le joueur 2 utilisez les touches:</p>
          <img src="assets/pl2.PNG" height="100" width="150" title="touchesp2">
          <br />

          <p>Lors du début d'un niveau, il faut tourner la roulette qui choisit une catégorie et une question au hazard.</p>
          <img src="assets/roue.PNG" height="200" width="200" title="roue">
          <br />
        <p>
            Touches pour répondre aux questions (en ordre: Réponse1 Réponse2 Réponse3)
        </p>
        <br />
        <p>Joueur 1 : </p>
        <img src="assets/aze.PNG" height="50" width="150" title="AZE">
        <br />
        <p>Joueur 2 : </p>
        <img src="assets/iop.PNG" height="50" width="150" title="IOP">
        <br />
        <p>
            A la fin de chaque niveau il y aura un gagnant. Après les 5 niveaux, celui avec le plus des niveaux gagnés est nomé le gagnant de la partie.
        </p>
        <br />
    </div>
    </div>
 </body>