<div style="position: relative;">
    <canvas id="renderCanvas"></canvas>
    <div type="text" id="joueur1" style="position: absolute; top: 10%; left: 10%; background-color: white; border: 2px solid black; border-radius: 4px;"><h2> </h2></div>
    <div type="text" id="joueur2" style="position: absolute; top: 10%; right: 10%; background-color: white; border: 2px solid black; border-radius: 4px;"><h2></h2></div>
  </div>
  <div id="endPartie" class="modal">
    <div class="modal-content">
        <p id="phraseFin"></p>
        <button style="top:-180pt; left:150pt" id="acc">Rejouer</button>
    </div>
</div>