<!DOCTYPE html>
<html >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Questions popup</title>
<link rel="stylesheet" href="accueil.component.css">
</head>
<body id="background">
    <header id="showcase">
        <h1>Bienvenue sur Quizzable</h1>
        <div class="input-group mb-3">
            <input type="text" placeholder="Surnom"  >
            <input type="text" placeholder="Code partie"  >
        </div>
        <p>Demarrer la partie</p>
        <img src="assets/play.png" alt="Button Image" (click)="ChangePageDialogBox()" height ="30" width="30">
    </header>
    <footer id="footer">
        <p>Comment jouer</p>
        <img src="assets/question.png" (click)="ChangePageRules()" alt="Tutoriel" height ="30" width="30" style="margin-left: 40px;">
    </footer>
 </body>
 </html>

